// Pallete colors for the Application
$black: #000000;
$white: #FFFFFF;
$light-black: rgba(0, 0, 0, 0.67);
$blue-base: rgba(87,165,237,1);
$light-cream: rgb(243, 243, 243);
$light-blue: #BAE2FF;
$green-gradient: rgb(1, 158, 13);
